body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: silver;
}

#body {
	position: relative;
}

#header {
	color: olive;
	border-bottom: 1px solid black;
	height: 90px;
}

#content {
	width : 800px;
	margin: auto;
	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

#footer {
	border-top: 2px solid black;
}

#footer > span {
	margin-top: 8px;
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 19px;
}

#header span {
	position: absolute;
	right: 100px;
	top: 0px;
	margin-top: -15px;
}

#header span > form {
	display: inline;
}

tr td.submit-column {
	text-align: right;
}